<div class="border border-light pt-3 pb-3 p-sm-3 mt-3 shadow-sm rounded">
  <div class="row align-items-center">
    <div class="col-9 col-sm-10">
      <h6 class="ps-3 pe-3 text-secondary">NASA Mars Rover Photos</h6>
      <h3 class="ps-3 pe-3">Mars {{ pictureDate }}</h3>
    </div>
    <app-like [like]="pictureFav" *ngIf="userLogedIn" class="col-3 col-sm-2" (click)="favPicture()" ></app-like>
  </div>
  <hr>

  <div #carousel id="carouselMars" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="false">
    <div class="carousel-inner">

      <div *ngFor='let img of roverPhotos; let primero = first;' class="carousel-item" [ngClass]='{active:primero}'>
        <img [src]="img.img_src" loading="lazy" class="d-block w-100" alt="" (error)="imgError( $event )"
          (load)="imgLoad( $event )">
        <!-- <div class="carousel-caption d-none d-md-block"> -->
        <div class="carousel-caption">
          <h5>{{ img.rover.name }}</h5>
          <p><small>Camera:</small> {{ img.camera.name }} - {{ img.camera.full_name }}</p>
        </div>
      </div>

    </div>
    <button #prev class="carousel-control-prev" type="button" data-bs-target="#carouselMars" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button #next class="carousel-control-next" type="button" data-bs-target="#carouselMars" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>