<main class="container-fluid">
  <header>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/daily"><img src="./assets/img/nasa-logo.svg" height="50" />Pics</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav w-100">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" routerLink="/daily" routerLinkActive="active" >Daily Pictures</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/myfavourites" routerLinkActive="active">My Fav Pictures</a>
            </li>  
            <li *ngIf="userLogedIn == ''" class="nav-item ms-sm-auto">
              <a class="nav-link btn btn-primary text-light" href="#" routerLink="/login-signup" routerLinkActive="active">LogIn/SignUp</a>              
            </li>     
            <li *ngIf="!(userLogedIn == '')" class="nav-item ms-sm-auto">
              <a class="nav-link btn btn-primary text-light" href="#" routerLink="/login-signup" routerLinkActive="active">{{userLogedIn}}</a>              
            </li>        
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <router-outlet></router-outlet>
  <footer class="m-0 mt-auto bg-dark text-light p-5">
    <ul>
      <li><h3>&copy; Luis Quevedo</h3></li>
      <li><img src="./assets/img/gmail.svg" width="24" alt="email" class="me-2" ><a href="mailto:qfluis@gmail.com">qfluis@gmail.com</a></li>
      <li><img src="./assets/img/linkedin.svg" width="24" alt="linkedin" class="me-2" ><a href="https://www.linkedin.com/in/luisquevedoferreiros/">luisquevedoferreiros</a></li>
      <li><img src="./assets/img/github.svg" width="24" alt="github" class="me-2" ><a href="https://github.com/qfluis">qfluis</a></li>
    </ul>
  </footer>
</main>
