/* You can add global styles to this file, and also import other style files */
$primary: #A200FF;
$primary2: #d386ff;
$secondary: #738C00;
$secondary2: #B7D921;
$disabled: rgba(128, 128, 128, 0.479);

.navbar {
    background-color: white!important;
    border-bottom: 1px solid $primary;
}
.nav-item .active{
    color: $primary!important;
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;
}

.btn-primary:hover {
    background-color: $primary2;
    border-color: $primary;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:visited {
    background-color: $primary!important;
    border-color: $primary!important;
    color: white!important;

    box-shadow: 0 0 0 5px $primary2;

}

.btn-primary:disabled {
    background-color: $disabled!important;
    border-color: $primary;
    color: white!important;
}

.btn-secondary {
    background-color: $secondary;
    border-color: $secondary;
}

.btn-secondary:hover {
    background-color: $secondary2;
}

.btn-secondary:active, .btn-secondary:focus {
    background-color: $secondary;
}



/*
.nav-item .active{
    color: $primary!important;
}*/